@{
    ViewData["Title"] = "Form";
}

<div class="text-center">
    <h1 class="display-3">Formulário em ASP.NET MVC</h1>
    <p>Segue exemplos <a href="https://getbootstrap.com/docs/4.3/components/forms/"> modelos de formulário em bootstrap </a>.</p>
</div>
